body {
    margin: 0;
    background-color: rgb(229, 153, 195);
}

.caixa {
    width: 60px;
    height: 60px;
    background-color: rgb(197, 41, 132);
    margin: 5px;
    color: white;
    text-align: center;
    line-height: 60px;
}


.linha1 {
    display: flex;
    justify-content: flex-start;
}


.linha2 {
    display: flex;
    justify-content: flex-end;
}


.linha3 {
    display: flex;
    justify-content: center;
}


.linha4 {
    display: flex;
    justify-content: space-between;
}


.linha5 {
    display: flex;
    justify-content: space-around;
}


.linha6 {
    display: flex;
    justify-content: space-evenly;
}


.linha7 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.linha8 {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}


.linha9 {
    display: flex;
    justify-content:space-around;
    align-items: center;
}


.linha10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    margin: 15px;
    color: rgb(7, 7, 7);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}




